/* not found */

.not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: gray;
    min-height: 100vh;
  
    h2 {
      font-size: 40px;
      font-weight: 700;
    }
  
    p {
      font-size: 25px;
      font-weight: 500;
    }
  }