/* cart */
.cart-container {
  padding: 2rem 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}
.cart-container h2 {
  font-weight: 500;
  font-size: 40px;
  text-align: center;
}
.cart-container .titles {
  margin: 2rem 0 1rem 0;
}
.cart-container .titles h3 {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}
.cart-container .titles .product-title {
  padding-left: 0.5rem;
}
.cart-container .titles .total {
  padding-right: 0.5rem;
  justify-self: right;
}

.cart-item,
.titles {
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  -webkit-column-gap: 0.5rem;
     -moz-column-gap: 0.5rem;
          column-gap: 0.5rem;
}

.cart-item {
  border-top: 1px solid rgb(190, 190, 190);
  padding-top: 1rem;
  margin-bottom: 1rem;
}
.cart-item .cart-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.cart-item .cart-product img {
  width: 150px;
  max-width: 100%;
  margin-right: 1rem;
}
.cart-item .cart-product h3 {
  font-weight: 500;
  font-size: 16px;
  width: 250px;
}
.cart-item .cart-product p {
  font-weight: 300;
  font-size: 12px;
  width: 250px;
  margin-top: 10px;
}
.cart-item .cart-product button {
  margin-top: 0.7rem;
  cursor: pointer;
  color: grey;
  border-radius: 5px;
  border: 0.5px solid rgb(190, 190, 190);
  color: grey;
  background: none;
  padding: 0.3rem;
}
.cart-item .cart-product button:hover {
  color: black;
}

.cart-product-quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 130px;
  max-width: 100%;
  border: 0.5px solid rgb(190, 190, 190);
  border-radius: 5px;
}
.cart-product-quantity button {
  border: none;
  outline: none;
  background: none;
  padding: 0.7rem 1.5rem;
  cursor: pointer;
}
.cart-product-quantity .count {
  padding: 0.7rem 0;
}

.cart-product-total-price {
  justify-self: right;
  padding: 0.5rem;
  font-weight: 700;
}

/* cart summary */
.cart-summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-top: 1px solid rgb(190, 190, 190);
  padding-top: 2rem;
}
.cart-summary .clear-cart {
  width: 130px;
  max-width: 100%;
  height: 40px;
  border-radius: 5px;
  font-weight: 500;
  letter-spacing: 1.15px;
  border: 0.5px solid rgb(190, 190, 190);
  color: grey;
  background: none;
  cursor: pointer;
}
.cart-summary .clear-cart:hover {
  color: black;
}

.cart-checkout {
  width: 270px;
  max-width: 100%;
}
.cart-checkout p {
  font-size: 14px;
  font-weight: 300;
  margin: 0.5rem 0;
}
.cart-checkout button {
  width: 100%;
  height: 35px;
  border-radius: 5px;
  font-weight: 500;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: rgb(39, 119, 106);
  color: white;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
.cart-checkout button:hover {
  background-color: rgb(150, 50, 50);
}
.cart-checkout .subtotal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 20px;
}
.cart-checkout .subtotal .amount {
  font-weight: 700;
}

.continue-shopping,
.start-shopping {
  margin-top: 1rem;
}
.continue-shopping a,
.start-shopping a {
  color: grey;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.continue-shopping span,
.start-shopping span {
  margin-left: 0.5rem;
}

.cart-empty {
  font-size: 20px;
  margin-top: 2rem;
  color: grey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 60vh;
}

/* footer */
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: rgb(0, 0, 0);
  padding: 2rem 4rem;
  text-align: center;
  color: white;
}
.footer .brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  width: 20%;
  gap: 10px;
}
.footer .brand .brand-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  text-decoration: none;
  color: rgb(194, 53, 53);
}
.footer .brand p {
  font-size: 12px;
  font-weight: 500;
  width: 80%;
}
.footer .brand .social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
  color: rgb(194, 53, 53);
}
.footer .about,
.footer .partnership,
.footer .information,
.footer .download {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  width: 20%;
}
.footer .about a,
.footer .partnership a,
.footer .information a,
.footer .download a {
  text-decoration: none;
  color: rgb(194, 53, 53);
}
.footer .about a:hover,
.footer .partnership a:hover,
.footer .information a:hover,
.footer .download a:hover {
  text-decoration: underline;
}
.footer .about p,
.footer .partnership p,
.footer .information p,
.footer .download p {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 10px;
  width: 20%;
}
.footer .about li,
.footer .partnership li,
.footer .information li,
.footer .download li {
  list-style: none;
  font-size: 12px;
  margin-bottom: 10px;
}

/* home */
.home-container {
  padding: 2rem 4rem;
  min-height: 100vh;
}
.home-container h2 {
  font-size: 40px;
  font-weight: 500;
  text-align: center;
}

.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 2rem;
}

.product {
  width: 275px;
  max-width: 100%;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1rem auto;
  padding: 1rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 20px;
}
.product img {
  width: 65%;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
}
.product h3 {
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}
.product .product-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.product .product-price span {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 10px;
}
.product .product-price .product-price__button {
  width: 60%;
  height: 35px;
  border-radius: 5px;
  font-weight: 500;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: rgb(39, 119, 106);
  color: white;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
.product .product-price .product-price__button:hover {
  background-color: rgb(150, 50, 50);
}

/* loader */
.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  border: 5px solid #a1a1a1;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-animation: rotation 1s linear infinite;
          animation: rotation 1s linear infinite;
}

@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.error-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: gray;
  min-height: 80vh;
  font-size: 25px;
  font-weight: 700;
}

/* navbar */
.nav-bar {
  height: 70px;
  background-color: rgb(0, 0, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 4rem;
}
.nav-bar h2 {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}
.nav-bar a {
  text-decoration: none;
  color: white;
}

.nav-bag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bag-quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 25px;
  width: 25px;
  background: rgb(194, 53, 53);
  border-radius: 50%;
  font-size: 15px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  margin-left: 5px;
}

/* not found */
.not-found {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: gray;
  min-height: 100vh;
}
.not-found h2 {
  font-size: 40px;
  font-weight: 700;
}
.not-found p {
  font-size: 25px;
  font-weight: 500;
}

body {
  height: 100vh;
}

* {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main-container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.route-bar {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}/*# sourceMappingURL=App.css.map */