* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* navbar */

.nav-bar {
  height: 70px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;

  h2 {
    font-size: 40px;
  }

  a {
    text-decoration: none;
    color: white;
  }
}

.nav-bag {
  display: flex;
  align-items: center;
}

.bag-quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  width: 25px;
  background: yellow;
  border-radius: 50%;
  font-size: 14px;
  font-weight: 700;
  color: black;
  margin-left: 5px;
}

/* not found */

.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: gray;
  min-height: 80vh;

  h2{
    font-size: 40px;
  }

  p {
    font-size: 25px;
  }
}
